:root{
    --primary-color: #ffffff;
    --secondary-color: #8b1539;
}

html,body{
    width: 100%;
    font-family: 'Roboto', sans-serif, FontAwesome;
    margin: 0;
    padding: 0;
}

header{
    margin-bottom: 6rem;
}

/* START MOUAD */
#banner #searchBar{
    left: 50%;
    max-width: 1100px;
    position: absolute;
    transform: translate(-50%,+50%);
    width: 100% ;
}

#banner #searchBar input{
    border: 2px solid #060609;
    border-radius: 4px;
    padding: 8px;
}

#banner .btn-prim{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 4px;
    border: 2px solid #060609;
    cursor: pointer;
    transition: all 0.3s ease;
}

#banner .btn-prim:hover{
    box-shadow: inset 0 0 0 10em rgba(0, 0, 0, 0.3);
}

/* END MOUAD */

/*START SALAH*/

#sectionGroups{
    background-color: var(--secondary-color);
}

#card *{
    color: var(--secondary-color);
}

/*END SALAH*/

/* Start Youness */
.cardsSection .fs-8 {
    font-size: 12px;
}

.cardsSection .row-gap {
    row-gap: 4px;
}

.cardsSection .fa-angle-right, 
.cardsSection .view-all {
    color: var(--secondary-color);
}       

.cardsSection .px-6 {
    padding: 0 7rem;
}
.cardsSection .card:hover{
    /* border:3px solid var(--secondary-color); */
    transform: scale(1.05);
}
/* Ends Youness */

#navbarScroll.navbar-collapse{
    flex-grow: 0;
}
#btnLogin{
    background-color: var(--primary-color);
    color:var(--secondary-color);
    border: 1px solid ; 

}
#btnSignup{
    background-color: var(--secondary-color);
    color:var(--primary-color);   
}
#btnSignup:hover{
    background-color:#81223e;;
    color:var(--primary-color);   
}
#Youtickets{
    color:var(--secondary-color);
}
#navBar{
    color: var(--primary-color);
}
#footer{
    background-color: var(--secondary-color);
    color: var(--primary-color);

}