:root{
    --primary-color: #ffffff;
    --secondary-color: #8b1539;
}

html,body{
    width: 100%;
    font-family: 'Roboto', sans-serif, FontAwesome;
    margin: 0;
    padding: 0;
    height: 100vh;
}

header{
    margin-bottom: 6rem;
}

a {
    color: inherit; 
    text-decoration: inherit;
}
/* ___________________________________________START Hajjou___________________________________________ */

/* START MOUAD */
#banner #searchBar{
    left: 50%;
    max-width: 1100px;
    position: absolute;
    transform: translate(-50%,+50%);
    width: 100% ;
}

#banner #searchBar input{
    border: 2px solid #060609;
    border-radius: 4px;
    padding: 8px;
}

.btn-prim{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 4px;
    border: 2px solid #060609;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-prim:hover{
    box-shadow: inset 0 0 0 10em rgba(0, 0, 0, 0.3);
}

.sec-color{
    color: var(--secondary-color);
}

.sec-border{
    border-color: var(--secondary-color)!important;
}

.sec-bg{
    background-color: var(--secondary-color);
}



/* END MOUAD */

/*START SALAH*/

#sectionGroups{
    background-color: var(--secondary-color);
}

#card *{
    color: var(--secondary-color);
}

/*END SALAH*/

/* Start Youness */
.cardsSection .fs-8 {
    font-size: 12px;
}

.cardsSection .row-gap {
    row-gap: 4px;
}

.cardsSection .fa-angle-right, 
.cardsSection .view-all {
    color: var(--secondary-color);
}       

.cardsSection .px-6 {
    padding: 0 7rem;
}
.cardsSection .card:hover{
    /* border:3px solid var(--secondary-color); */
    transform: scale(1.05);
}
/* Ends Youness */

#navbarScroll.navbar-collapse{
    flex-grow: 0;
}
#btnLogin{
    background-color: var(--primary-color);
    color:var(--secondary-color);
    border: 1px solid ; 

}
#btnSignup{
    background-color: var(--secondary-color);
    color:var(--primary-color);   
}
#btnSignup:hover{
    background-color:#81223e;;
    color:var(--primary-color);   
}
#Youtickets{
    color:var(--secondary-color);
}
#navBar{
    color: var(--primary-color);
}
#footer{
    background-color: var(--secondary-color);
    color: var(--primary-color);

}
#ftcopyright{
    background-color: var(--secondary-color);
    color: var(--primary-color);

}
/* ___________________________________________END Hajjou___________________________________________ */

.bg-purple{
    background-color: #DADAFB;
}

#sidenav-collapse-main{
    height:unset;
}


/*Admin Profile*/
#profile{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
    width: 95%;
}
#profile .main-body {
    padding: 15px;
}
#profile .card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

#profile .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

#profile .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

#profile .gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

#profile .gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
#profile .mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

#profile .bg-gray-300 {
    background-color: #e2e8f0;
}
#profile .h-100 {
    height: 100%!important;
}
#profile .shadow-none {
    box-shadow: none!important;
}
/*END Admin Profile*/

/*Styling the close button*/
.btn-close{
    background-color: black;
}

.modal{
    z-index: 10000;
}
.sidenav{
    z-index: 999;
}